<!DOCTYPE html>
<html>
<head>
  <title>/Jim Baker - Portfolio/</title>
  <link rel="stylesheet" href="/css/mystyle.css" />
</head>


<body>
  <ul class="topnav" id="myTopnav">
    <li><a href='/about'>About</a></li>
    <li><a href='/projects'>Projects</a></li>
    <li><a href='/blog'>Blog</a></li>
    <li><a href='/newpost'>Newpost</a></li>
    <li class="rightside"><a href='/contact'>Contact Me</a><li>
    <li class="rightside"><a href="https://github.com/jambake" target="_blank">GitHub</a></li>
  </ul>

{% block content %}
{% endblock %}

</body>
</html>
