{% extends "base.html" %}

{% block content %}
<h1>projects</h1>
<hr>
<h3 align="center"><a href="https://raw.githubusercontent.com/jambake/LaunchCode_Unit_1/master/labs/lab6/Triangles.java" target="_blank">Recursion with Triangles</a></h3>
<div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLe-HTBPw9R_BGGQTYiz8IrJd-1OUGKPRh&loop=1&controls=0" frameborder="0" allowfullscreen></iframe></div>
<hr>
<h3 align="center"><a href="https://raw.githubusercontent.com/jambake/LaunchCode_Unit_1/master/labs/lab4/BumpingBalls2.java" target="_blank">Bouncing Balls</a></h3>
<div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLe-HTBPw9R_B9di5zbXUUDSfx4wHRd9m3&loop=1&controls=0" frameborder="0" allowfullscreen></iframe></div>
<hr>
{% endblock %}
